@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}




body{
    background-color: rgb(32, 25, 77);
    font-size: 100%;

}


.cabecalho{
    display: flex;
    padding-top: 20px;
    gap: 20px;
    padding-left: 20px;
    justify-content: space-around;
}

.cabecalho-imagem-instagram:hover{
    border-radius: 18px;
    height: 130px;
     box-shadow: 0 0 12px rgba(255,255,255,0.2);
     transition: transform 0.3s ease;
    transform: scale(1.1);
}

.cabecalho-imagem-linkedin:hover{
    border-radius: 18px;
    height: 130px;
     box-shadow: 0 0 12px rgba(255,255,255,0.2);
     transition: transform 0.3s ease;
     transform: scale(1.1);
}

.titulo-conteudo{
    text-align: center;
     font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.conteudo{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
     border-top: 0.4px solid rgb(243, 238, 234);
     margin-bottom:48px;
     margin-top: 10px;
     padding-top: 40px;

}

.imagem-conteudo-principal{
    display: block;
    margin: 20px auto;
    border-radius: 23px;
     box-shadow: 0 0 12px rgba(255,255,255,0.2);
      width: 150px;
}


.texto-conteudo-principal{
    margin: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #E0E0FF;
    line-height: 1.6;
}


.rodape{
    border-top: 0.4px solid rgb(243, 238, 234);
}

.botao {
    background-color: #A288FF;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    display: block;        /* transforma em bloco */
    margin: 8px auto 0;   /* centraliza! */
    text-align: center;
    width: fit-content;    /* mantém tamanho exato do botão */
}


.botao:hover {
    background-color: #C5B3FF;
}
