@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #1f1b3d, #3e2f7a);
    color: #fff;
    overflow-x: hidden;
}

.cabecalho {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho nav a {
    margin-left: 20px;
    color: #fff;
    opacity: 0.8;
    transition: 0.3s;
}

.cabecalho nav a:hover {
    opacity: 1;
}


.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.hero-card {
    background: rgba(255, 255, 255, 0.08);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
    text-align: center;
    width: 320px;
}

.foto-perfil {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.links a {
    margin: 10px;
    padding: 10px 20px;
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
    display: inline-block;
    color: white;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.links a:hover {
    background: rgba(255,255,255,0.3);
}


section {
    padding: 60px 20px;
    text-align: center;
}

.botao {
    margin-top: 15px;
    padding: 12px 30px;
    background: rgba(255,255,255,0.2);
    border-radius: 12px;
    backdrop-filter: blur(12px);
    color: #fff;
   transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.botao:hover {
  transform: scale(1.05);
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* ANIMAÇÃO SCROLL */
.reveal {
    position: relative;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0px);
}
